name: Deploy feature branches to production bucket

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUCKET_NAME: 	cfst-3457-959843fa3d3e5d9546431c49df020-prodbucket-ant8ihq8ssaw
    steps:
      - name: Check code
        uses: actions/checkout@v4.1.1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.0.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: setup nodeJS
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 14
      - name: build website
        run: |
          npm ci
          npm run build
      - name: deploy files to bucket
        run: aws s3 cp public s3://${{ env.BUCKET_NAME }}/ --recursive 